<nav class="navigation">
    <ul class="navigation__menu">
        <li class="navigation__item"><a class="navigation__link" href="/">Home</a></li>
        <li class="navigation__item"><a class="navigation__link" href="#">2</a></li>
        <li class="navigation__item"><a class="navigation__link" href="#">3</a></li>
        <li class="navigation__item"><a class="navigation__link" href="#">4</a></li>
    </ul>
</nav>