.gitshowcase {
  display: flex;
  flex: 1;
  gap: var(--spacing-m);
  &__wrapper {
    min-width: 250px;
    &__title {
      font-size: var(--font-size-xl);
    }
  }
  &__list:has(li) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-m);
  }
}

.wikis {
  &__title {
    font-size: var(--font-size-l);
  }

  &__filters {
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 1em;

    &__item {
      display: grid;
      grid-row: span 3;
      grid-template-rows: subgrid;
      border: 1px solid red;
    }
  }
}
